/* LayerToggle.css */
.layer-toggle-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    background: rgba(137, 137, 137, 0.803);
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: rgb(57, 56, 56);
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
  
  .layer-toggle-button {
    cursor: pointer;
  }
  
  .layer-toggle-button input[type="radio"] {
    margin-right: 4px;
  }
  